{% extends 'users/base.html' %}
{% load my_tags %}
{% load static %}
{% block content %}
{% load carts_tags %}
{% user_carts request as carts %}
<body>
    <!--== Start Cart Area Wrapper ==-->
    <section class="cart-page-area">
      <div class="container pt-100 pb-100">
        <div class="row">
          <div class="col-12">
            <div class="cart-table table-responsive">
              <table>
                <thead>
                  <tr>
                    <th class="pro-thumbnail">Image</th>
                    <th class="pro-title">Product</th>
                    <th class="pro-price">Price</th>
                    <th class="pro-quantity">Quantity</th>
                    <th class="pro-subtotal">Total</th>
                    <th class="pro-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="pro-thumbnail">
                      <a href="#"><img src="assets/img/shop/details/nav13.jpg" alt="Alan-Shop"></a>
                    </td>
                    <td class="pro-title">
                      <h4><a href="#/">2. New badge product</a></h4>
                      <span>m / gold</span>
                    </td>
                    <td class="pro-price"><span>$80.00</span></td>
                    <td class="pro-quantity">
                      <div class="quick-product-action">
                        <div class="pro-qty">
                          <input type="text" id="quantity" title="Quantity" value="1" />
                        </div>
                      </div>
                    </td>
                    <td class="pro-subtotal"><span>$80.00</span></td>
                    <td class="pro-remove"><a href="#/">×</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12">
            <div class="cart-buttons">
              <a class="btn-shopping update-cart" href="#/">Update Cart</a>
              <a class="btn-shopping continue-shopping" href="#/">Continue Shopping</a>
              <a class="btn-shopping" href="#/">Clear Cart</a>
            </div>
          </div>
          <div class="col-12">
            <div class="cart-payment">
              <div class="row">
                <div class="col-lg-6">
                  <div class="cart-subtotal">
                    <h3 class="title">Cart Totals</h3>
                    <table>
                      <tbody>
                        <tr class="cart-subtotal">
                          <th>Subtotal</th>
                          <td>
                            <span class="amount">$204.39</span>
                          </td>
                        </tr>
                        <tr class="order-total">
                          <th>Total</th>
                          <td>
                            <span class="price">$204.39</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <a class="btn-theme" href="#/">Proceed to Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Cart Area Wrapper ==-->
{% endblock%}