{% load static %}

<body>
<div class="card-header"><h2>Оплата заказа №{{ order.pk }}</h2></div>
<div class="container">
    <div class="col-md-6">
        <form method="post" class="credit-card-form mt-5">
            {% csrf_token %}
            <h2 class="credit-card-title bg-warning text-white p-2 rounded shadow">Credit card details</h2>
            <div class="form-group mt-3">
                <label class="credit-card-label">Card number</label>
                {{ form.card_number }}
                <div class="text-danger">{{ form.card_number.errors }}</div>
            </div>
            <div class="credit-card-date mt-3">
                <div class="col-md-6">
                    <label class="credit-card-label">Month/Year</label>
                    {{ form.expiry_date }}
                    <div class="text-danger"> {{ form.expiry_date.errors }}</div>
                </div>
                <div class="col-md-3">
                    <label class="credit-card-label">CVV/CNN</label>
                    {{ form.cvv }}
                    <div class="text-danger"> {{ form.cvv.errors }}</div>
                </div>
                <div class="col-md-3 credit-card-date-logo">
                    <img src="{% static 'moon_flag.png' %}" alt="луна" class="img-fluid">
                </div>
            </div>
            <button type="submit" class="btn btn-warning mt-3">Оплатить</button>
        </form>

        <!-- Ссылка на политику конфиденциальности -->
        <div class="text-center mt-4">
            <small class="text-muted">
                Совершая оплату, вы соглашаетесь с
                <a href="{% url 'users:privacy_policy' %}" target="_blank" class="text-decoration-underline">Политикой
                    конфиденциальности</a>.
            </small>
        </div>
    </div>
</div>
</body>





