{% load carts_tags %}
{% load orders_tags %}
{% load my_tags %}
{% load static %}
{% block content %}

<body>
    <!--== Start Cart Area Wrapper ==-->
    {% user_carts request as carts %}
    <section class="cart-page-area">
      <div class="container pt-100 pb-100">
        <div class="row">
          <div class="col-12">
            <div class="cart-table table-responsive">
              {% if carts %}
              <table>
                <thead>
                  <tr>
                    <th class="pro-thumbnail">Изображение</th>
                    <th class="pro-title">Описание</th>
                    <th class="pro-price">Цена</th>
                    <th class="pro-quantity">Кол-во</th>
                    <th class="pro-subtotal">Итого</th>
                    <th class="pro-remove">Удалить из корзины</th>
                  </tr>
                </thead>
                {% for cart in carts %}
                <tbody>
                  <tr>

                    <td class="pro-thumbnail">
                      <a href="{% url 'shop:tool_detail' cart.tool.slug %}"><img src="{{cart.tool.image|tool_media}}" alt={{cart.tool.name}}></a>
                    </td>
                    <td class="pro-title">
                      <h4><a href="#/">{{cart.tool.description}}</a></h4>
                    </td>
                    <td class="pro-price"><span>{{cart.tool.sell_price}}</span></td>
                    <td class="pro-price"><span>{{cart.quantity}}</span></td>

                    <td class="pro-subtotal"><span>${{cart.products_price}}</span></td>
                    <td class="pro-remove"><a href="{% url 'cart:cart_remove' cart.id %}">×</a></td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
              {% endif %}
            </div>
          </div>
          {% if carts %}
          <div class="col-12">
            <div class="cart-buttons">
              <a class="btn-shopping continue-shopping" href="{% url 'shop:tools' %}">Продолжить покупки</a>
            </div>
          </div>
          {% else %}
          <a class="display-4 font-weight-bold mt-5 text-danger">Ваша корзина пуста</a>
          {% endif %}
        </div>
      </div>


    </section>
    <!--== End Cart Area Wrapper ==-->
{% endblock%}