{% load static %}
{% load my_tags %}
{% load carts_tags %}
{% load orders_tags %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,400i,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet"/>
    <!--== Themify Icons CSS ==-->
    <link href="{% static 'css/themify-icons.css' %} " rel="stylesheet"/>
    <!--== Font-awesome Icons CSS ==-->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!--== Ionicons CSS ==-->
    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet"/>
    <!--== Animate CSS ==-->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet"/>
    <!--== Aos CSS ==-->
    <link href="{% static 'css/aos.css' %}" rel="stylesheet"/>
    <!--== FancyBox CSS ==-->
    <link href="{% static 'css/jquery.fancybox.min.css' %}" rel="stylesheet"/>
    <!--== Slicknav CSS ==-->
    <link href="{% static 'css/slicknav.css' %}" rel="stylesheet"/>
    <!--== Swiper CSS ==-->
    <link href="{% static 'css/swiper.min.css' %}" rel="stylesheet"/>
    <!--== Main Style CSS ==-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

</head>

<body>

<!--wrapper start-->
<div class="wrapper home-default-wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
    <div class="preloader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!--== End Preloader Content ==-->

  <!--== Start Header Wrapper ==-->
  <header class="header-area header-default sticky-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-5 col-sm-3 col-md-3 col-lg-2 pr-0">
          <div class="header-logo-area">
            <a href="{% url 'shop:about' %}">
              <img class="logo-main" src="{% static 'img/logo_2.jpg' %}" alt="Logo" />
              <img class="logo-light" src="{% static 'img/logo_2.jpg' %}" alt="Logo" />
            </a>
          </div>

        </div>

        <div class="col-7 col-sm-9 col-md-9 col-lg-10">
          <div class="header-align">
            <div class="header-navigation-area">
              <ul class="main-menu nav justify-content-center">
                <form class="d-flex" role="search" action="" method="get">
                  <input class="form-control me-2" type="search" name="q" placeholder="Поиск" aria-label="Search">
                  <button class="btn btn-warning text-white" type="submit">Найти</button>
                </form>
                {% if user.is_authenticated %}
                <li><a href="{% url 'users:profile' %}"> {{ user }}</a></li>
                {% endif %}
                <li> <a href="{% url 'users:index' %}">Главная</a></li>
                <li><a href="{% url 'shop:about' %}">О нас</a></li>
                <li><a href="{% url 'shop:catalog' %}">Инструменты</a></li>
                <li><a href="contact.html">Контакты</a></li>
              </ul>
            </div>
            <div class="header-action-area">
              <div class="header-action-usermenu">
                <div class="icon-usermenu"><i class="ti-settings"></i></div>
                  <ul class="user-menu">
                    <ul class="list-unstyled">
                      {% if user.is_superuser %}
                      <li><a href="/admin">Админка</a></li>
                      {% endif %}
                      <li><a href="{% url 'users:index' %}">Главная</a></li>
                      <li><a href="{% url 'shop:catalog' %}">Бренды</a></li>
                      <li><a href="{% url 'shop:tools' %}">Инструмент</a></li>
                      <li><a href="блог.html"></a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'users:profile' %}">Профиль</a></li>
                      <li>
                        <form method="post" action="{% url 'users:logout' %}" >
                          {% csrf_token %}
                          <a href="#" onclick="event.preventDefault(); this.closest('form').submit();">Выход</a>
                        </form>
                      </li>
                          {% else %}
                          <li><a href="{% url 'users:login' %}">Войти</a></li>
                          <li><a href="{% url 'users:register' %}">Регистрация</a></li>
                          {% endif %}
                      </ul>
                  </ul>
              </div>
              {% if user.is_authenticated %}
              {% user_carts request as carts %}
              <div class="header-action-cart">
                <a class="cart-icon" href="{% url 'cart:cart' %}">
                  <span class="cart-count">{{carts.total_quantity}}</span>
                  <i class="ti-shopping-cart"></i>
                </a>
                <style>
                  .cart-dropdown-menu {
                    max-height: 600px;
                    overflow-y: auto;
                    position: relative;
                  }

                  .shopping-cart-btn {
                    position: sticky;
                    bottom: 0;
                    background: white;
                    padding: 10px;
                    border-top: 1px solid #eee;
                    display: flex;
                    justify-content: space-between;
                  }

                  .shopping-cart-btn .btn-theme {
                      margin: 0 5px;
                  }
                </style>

                <div class="cart-dropdown-menu">
                  {% for cart in carts %}
                  <div class="minicart-action">
                    <div class="minicart-item">
                      <div class="thumb">
                        <img src="{{cart.tool.image|tool_media}}" alt={{cart.tool.name}}>
                      </div>
                      <div class="content">
                        <h4 class="title">{{cart.tool.name}}</h4>
                        <h6 class="nrbQ">{{cart.quantity}} шт.</h6>
                        <p class="price">{{cart.tool.sell_price}} $</p>
                        <div class="shopping-cart-total">
                          <h4>Total: <span>{{cart.products_price}} $</span></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="shopping-cart-total">
                    <h4>Total <span>{{carts.total_price}}</span></h4>
                  </div>

                  <div class="shopping-cart-btn">
                    <a class="btn-theme m-2" href="{% url 'cart:cart' %}">К корзине</a>
                    <a class="btn-theme m-2" href="{% url 'orders:create_order' %}">Заказать</a>
                  </div>
                </div>
              </div>
              {% endif %}
              <button class="btn-menu d-lg-none">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
    <div class="album py-5 bg-light">
        <div class="container">

            {% block content %}
            {% endblock %}
        </div>
    </div>


  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget-item">
              <h4 class="widget-title">О нас Information</h4>
              <div class="about-area">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud reprhendit in voluptate velit esse exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget-item">
              <h4 class="widget-title">Наши контакты</h4>
              <p class="mb-0">Your current address goes to here,120 example, country.</p>
              <ul class="widget-contact-info">
                <li class="info-phone"><a href="tel://(008)25425425425487">(008) 254 254 254 25487</a></li>
                <li class="info-mail"><a href="mailto://example@admin.com">example@admin.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-content">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="widget-copyright text-center">
                <p>© 2025 <span>Oleg</span>. Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://www.hasthemes.com">HasThemes</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== End Footer Area Wrapper ==-->

  <!--== Scroll Top Button ==-->
  <div class="scroll-to-top"><span class="fa fa-angle-double-up"></span></div>



  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="logo-area">
            <a href="index.html"><img src="{% static 'img/logo.png' %}" alt="Logo" /></a>
          </div>
          <div class="close-action">
            <button class="btn-close"><i class="fa fa-close"></i></button>
          </div>
        </div>

        <div class="off-canvas-item">
          <!-- Start Mobile Menu Wrapper -->
          <div class="res-mobile-menu menu-active-one">
            <!-- Note Content Auto Generate By Jquery From Main Menu -->
          </div>
          <!-- End Mobile Menu Wrapper -->
        </div>
        <!-- Off Canvas Footer -->
        <div class="off-canvas-footer"></div>
      </div>
      <!-- End Off Canvas Content Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->
</div>

<!--=======================Javascript============================-->

<!--=== Modernizr Min Js ===-->
<script src="{% static 'js/modernizr.js' %}"></script>
<!--=== jQuery Min Js ===-->
<script src="{% static 'js/jquery-main.js' %}"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="{% static 'js/jquery-migrate.js' %}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--=== jquery Appear Js ===-->
<script src="{% static 'js/jquery.appear.js' %}"></script>
<!--=== jquery Swiper Min Js ===-->
<script src="{% static 'js/swiper.min.js' %}"></script>
<!--=== jquery Fancybox Min Js ===-->
<script src="{% static 'js/fancybox.min.js' %}"></script>
<!--=== jquery Aos Min Js ===-->
<script src="{% static 'js/aos.min.js' %}"></script>
<!--=== jquery Slicknav Js ===-->
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<!--=== jquery Countdown Js ===-->
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<!--=== jquery Wow Min Js ===-->
<script src="{% static 'js/wow.min.js' %}"></script>
<!--=== jQuery Zoom Min Js ===-->
<script src="{% static 'js/jquery-zoom.min.js' %}"></script>

<!--=== Custom Js ===-->
<script src="{% static 'js/custom.js' %}"></script>

</body>

</html>