{% extends 'users/base.html' %}

{% block content %}
<body>
<!--== Начало области контактов ==-->
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-form">
                    <form class="contact-form-wrapper" id="contact-form"
                          action="http://whizthemes.com/mail-php/raju/arden/mail.php" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title">
                                    <h2 class="title">Оставьте нам сообщение</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="con_name"
                                                   placeholder="Ваше имя *">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="email" name="con_email"
                                                   placeholder="Ваш email *">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="con_phone" placeholder="Тема">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-0">
                                            <textarea class="form-control textarea" name="con_message"
                                                      placeholder="Введите ваше сообщение здесь.."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-0">
                                            <button class="btn btn-theme" type="submit">ОТПРАВИТЬ СООБЩЕНИЕ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-message"></div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title mt-md-30">
                            <h2 class="title">Контактный адрес</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-info-content">
                            <div class="contact-info-item">
                                <div class="content">
                                    <h4>Наш адрес</h4>
                                    <p>Дом 96, Улица Артема, Стерлитамак. р. Башкортостан.</p>
                                </div>
                            </div>
                            <div class="contact-info-item">
                                <div class="content">
                                    <h4>Номер телефона</h4>
                                    <p>01234 567 890<br>01234 567 891</p>
                                </div>
                            </div>
                            <div class="contact-info-item mb-0 pb-0">
                                <div class="content">
                                    <h4>Веб-адрес</h4>
                                    <p>info@example.com<br>www.example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- НЕ ТРОГАТЬ: Блок с Google Maps -->
        <div class="row">
            <div class="col-12">
                <div class="contact-map-area pt-80">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2366.3483307081397!2d55.90000747601595!3d53.62292675399384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43d80e24bc057cdb%3A0x9d1074cdab90011c!2z0KLQoNCmINCQ0YDQsdCw0YI!5e0!3m2!1sru!2suk!4v1752305850736!5m2!1sru!2suk"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <!-- КОНЕЦ блока с Google Maps -->

    </div>
</section>
<!--== Конец области контактов ==-->
</main>

<!--== Кнопка вверх ==-->
<div class="scroll-to-top"><span class="fa fa-angle-double-up"></span></div>

<!--== Быстрый просмотр товара ==-->
<aside class="product-quick-view-modal">
    <div class="product-quick-view-inner">
        <div class="product-quick-view-content">
            <button type="button" class="btn-close">
                <span class="close-icon"><i class="ti-close"></i></span>
            </button>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="thumb">
                        <img src="assets/img/shop/quick-view1.webp" alt="Alan-Shop">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="content">
                        <h4 class="title">1. Новый товар с меткой «распродажа»</h4>
                        <div class="prices">
                            <del class="price-old">$167.540</del>
                            <span class="price">$141.76</span>
                        </div>
                        <p>Вопреки распространённому мнению, Lorem Ipsum — это не просто случайный текст. Он имеет корни
                            в произведении классической латинской литературы 45 года до н.э., что делает его более чем
                            2000 лет старым. Ричард МакКлинток, профессор латинского языка из колледжа Хэмпден-Сидни в
                            Вирджинии,</p>
                        <div class="quick-view-select">
                            <div class="quick-view-select-item">
                                <label for="forSize" class="form-label">Размер:</label>
                                <select class="form-select" id="forSize" required>
                                    <option selected value="">s</option>
                                    <option>m</option>
                                    <option>l</option>
                                    <option>xl</option>
                                </select>
                            </div>
                            <div class="quick-view-select-item">
                                <label for="forColor" class="form-label">Цвет:</label>
                                <select class="form-select" id="forColor" required>
                                    <option selected value="">красный</option>
                                    <option>зелёный</option>
                                    <option>синий</option>
                                    <option>жёлтый</option>
                                    <option>белый</option>
                                </select>
                            </div>
                        </div>
                        <div class="action-top">
                            <div class="pro-qty">
                                <input type="text" id="quantity2" title="Количество" value="1"/>
                            </div>
                            <button class="btn btn-black">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="canvas-overlay"></div>
</aside>
<!--== Конец быстрого просмотра ==-->

<!--== Боковое меню ==-->
<aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-content">
            <div class="off-canvas-header">
                <div class="logo-area">
                    <a href="index.html"><img src="assets/img/logo.png" alt="Логотип"/></a>
                </div>
                <div class="close-action">
                    <button class="btn-close"><i class="fa fa-close"></i></button>
                </div>
            </div>
            <div class="off-canvas-item">
                <div class="res-mobile-menu menu-active-one">
                    <!-- Содержимое формируется автоматически jQuery -->
                </div>
            </div>
            <div class="off-canvas-footer"></div>
        </div>
    </div>
</aside>
<!--== Конец бокового меню ==-->
</div>
{% endblock %}
