{% extends 'users/base.html' %}
{% block content %}
 <section class="home-slider-area slider-default">
      <div class="home-slider-content">
        <div class="swiper-container home-slider-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- Start Slide Item -->
              <div class="home-slider-item bg-img-cover" data-bg-img="media/slider/1.jpg">
                <div class="slider-content-area">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="content m-auto">
                          <div class="inner-content">
                            <div class="tittle-wrp">
                              <h2>"Мощь в твоих руках!"</h2>
                            </div>
                            <div class="btn-wrp">
                              <a href="shop.html" class="btn-link">Shop Now</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Slide Item -->
            </div>
            <div class="swiper-slide">
              <!-- Start Slide Item -->
              <div class="home-slider-item bg-img-cover" data-bg-img="media/slider/2.jpg">
                <div class="slider-content-area">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="content m-auto">
                          <div class="inner-content">
                            <div class="tittle-wrp">
                              <h2>"Создавай с легкостью!"</h2>
                            </div>
                            <div class="btn-wrp">
                              <a href="shop.html" class="btn-link">Shop Now</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Slide Item -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->

{% endblock %}
