{% extends 'users/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3 col-sm-1"></div>
    <div class="col-md-6 col-sm-10">
        <div class="card">
            <div class="card-header">Введите данные для входа в аккаунт</div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Войти</button>
                </form>
                <div class="col-md-12">
                    <div class="form-group mb-2">
                        <a class="btn-create" href="{% url 'users:register' %}">Регистрация</a>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <small class="text-muted">
                        Нажимая "Войти", вы соглашаетесь с
                        <a href="{% url 'users:privacy_policy' %}" target="_blank">Политикой конфиденциальности</a>.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}