{% extends 'users/index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row">
        <div class="col-12"></div>
        <div class="col-11">
            <div class="card">
                <div class="card-header">Введите необходимые данные</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="col-6">
                            <div class="form-group mb-0 form-group-info">
                                <button class="btn btn-theme" type="submit">Зарегистрироваться</button>
                            </div>
                        </div>
                    </form>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}