{% extends 'users/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="display-4 font-weight-bold mt-3 text-danger">{{ object.brand }}</h4>
                </div>
                <div class="card-body">
                    <p class="lead mt-3">{{ object.brand.description }}</p>
                    {% include 'shop/includes/inc_tool.html' with object=object %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
