<div class="dropdown mb-2">
    <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Фильтры
    </button>
    <form action="{% if request.GET.q %}{% url 'shop:search' %}{% else %}{% url 'shop:tools' %}{% endif %}"
          method="get"
          class="dropdown-menu bg-light">
        <div class="form-check mx-3">
            <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on">
            {% if request.GET.q %}
            <input type="hidden" name="q" value="{{ request.GET.q }}">
            {% endif %}
            <label class="form-check-label" for="flexCheckDefault">
                Товары по акции
            </label>
        </div>
        <p class="mx-3 mt-3">Сортировать:</p>
        <div class="form-check mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default">
            <label class="form-check-label" for="flexRadioDefault1">
                По умолчанию
            </label>
        </div>
        <div class="form-check mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price">
            <label class="form-check-label" for="flexRadioDefault2">
                От дешевых к дорогим
            </label>
        </div>
        <div class="form-check mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price">
            <label class="form-check-label" for="flexRadioDefault3">
                От дорогих к дешевым
            </label>
        </div>
        <button type="submit" class="btn btn-warning mx-3 mt-3">Применить</button>
    </form>
</div>
